<% context ||= @team %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: creative_concept do %>
  <tr data-id="<%= creative_concept.id %>">
    <td><%= render 'shared/attributes/text', attribute: :name, url: [:account, creative_concept] %></td>
    <td><%= render 'account/shared/memberships/photos', memberships: creative_concept.all_collaborators.excluding_platform_agents, size: 9, align: :center %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= display_date_and_time(creative_concept.created_at) %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <%# We write the full path here since this partial is called from different scopes. %>
        <%= link_to t('account.scaffolding.absolutely_abstract.creative_concepts.buttons.shorthand.edit'), [:edit, :account, creative_concept], class: 'button-secondary button-smaller' if can? :edit, creative_concept %>
        <%= button_to t('account.scaffolding.absolutely_abstract.creative_concepts.buttons.shorthand.destroy'), [:account, creative_concept], method: :delete, data: { confirm: t('account.scaffolding.absolutely_abstract.creative_concepts.buttons.confirmations.destroy', model_locales(creative_concept)) }, class: 'button-secondary button-smaller' if can? :destroy, creative_concept %>
      <% end %>
    </td>
  </tr>
<% end %>
