<% creative_concepts = creative_concepts.accessible_by(current_ability) %>
<% context ||= @team %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, creative_concepts = pagy(creative_concepts, page_param: :creative_concepts_page) unless pagy %>

<%= updates_for context, :scaffolding_absolutely_abstract_creative_concepts do %>
  <%= render 'account/shared/box' do |p| %>
    <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
    <% p.content_for :description do %>
      <%= t(".contexts.#{context.class.name.underscore}.#{creative_concepts.any? ? 'description' : 'description_empty'}") %>
      <%= render "shared/limits/index", model: creative_concepts.model %>
    <% end %>

    <% if creative_concepts.any? %>
      <% p.content_for :table do %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t('.fields.name.heading') %></th>
              <th class="text-center"><%= t('.fields.all_collaborators.heading') %></th>
              <%# 🚅 super scaffolding will insert new field headers above this line. %>
              <th><%= t('.fields.created_at.heading') %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% creative_concepts.each do |creative_concept| %>
              <%= render 'account/scaffolding/absolutely_abstract/creative_concepts/creative_concept', creative_concept: creative_concept %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>

    <% p.content_for :actions do %>
      <% unless hide_actions %>
        <% if can? :create, Scaffolding::AbsolutelyAbstract::CreativeConcept.new(team: @team) %>
          <%= link_to t('.buttons.new'), [:new, :account, @team, :scaffolding_absolutely_abstract_creative_concept], class: "#{first_button_primary(:absolutely_abstract_creative_concept)} new" %>
        <% end %>

        <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:absolutely_abstract_creative_concept)} back" unless hide_back %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
