<%= render 'account/shared/workflow/box' do |p| %>
  <% p.content_for :title, t('.header', application_name: @application.name) %>
  <% p.content_for :body do %>
    <ul class="space-y" data-turbo="false">
      <% @teams.each do |team| %>
        <li class="bg-white border overflow-hidden sm:rounded-md dark:bg-slate-400">
          <% body = capture do %>
            <div class="px-4 py-4 flex items-center sm:pl-8 sm:pr-6">
              <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                <div class="flex text-xl font-semibold text-blue uppercase group-hover:text-blue-800 tracking-widest dark:text-white">
                  <%= team.name %>
                </div>
                <% unless can? :connect, team %>
                  <div class="ml-5 flex-shrink-0 text-slate-400">
                    <%= t(".not_allowed") %>
                  </div>
                <% end %>
              </div>
              <% if can? :connect, team %>
                <div class="ml-5 flex-shrink-0">
                  <svg class="h-5 w-5 text-slate-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                  </svg>
                </div>
              <% end %>
            </div>
          <% end %>

          <% if can? :connect, team %>
            <%= link_to request.url + "&team_id=#{team.id}", class: "group block hover:bg-slate-50 dark:hover:bg-slate-400 dark:text-slate-800", data: {controller: "connection-workflow", action: "connection-workflow#disableTeamButton"} do %>
              <%= body %>
            <% end %>
          <% else %>
            <div class="block dark:text-slate-800">
              <%= body %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
