<!DOCTYPE html>
<html class="theme-<%= BulletTrain::Themes::Light.color %> <%= "theme-secondary-#{BulletTrain::Themes::Light.secondary_color}" if BulletTrain::Themes::Light.secondary_color %>" lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/layouts/head' %>
  </head>

  <body class="min-h-screen <%= BulletTrain::Themes::Light.background %> text-slate-700 text-sm font-normal dark:text-slate-300">
    <div class="home-page-background-fade-container">
      <div class="home-page-background-fade"></div>
    </div>

    <div class="md:p-5 main-container-padding">
      <div class="h-screen md:h-auto md:rounded-lg flex shadow main-container">
      </div>
    </div>
  </body>
</html>
