<!DOCTYPE html>
<html class="theme-<%= BulletTrain::Themes::Light.color %> <%= "theme-secondary-#{BulletTrain::Themes::Light.secondary_color}" if BulletTrain::Themes::Light.secondary_color %>" lang="<%= I18n.locale %>">
  <head>
    <%= render 'shared/layouts/head' %>
  </head>

  <body class="min-h-screen <%= BulletTrain::Themes::Light.background %> text-base-700 text-sm font-normal dark:text-base-300">
    <%= yield %>
  </body>
</html>
