<%
stimulus_controller = 'fields--button-toggle'
form ||= current_fields_form

ActiveSupport::Deprecation.warn(
  "`options` will be replaced with `button_field_options` in a later version. " \
  "Please pass all of the strings you want to appear in your buttons to `button_field_buttons`."
)
options ||= {}
button_field_buttons ||= {}
button_field_options ||= options
button_field_options = options_for(form, method) if button_field_buttons.empty?

# Reinitialize options.
# TODO: We need to do this because `options` is currently an array of strings
# i.e. - ["One", "Two", "Three"]
options ||= {}

html_options ||= {} # TODO: Deprecated.
other_options ||= {}

options[:id] ||= form.field_id(method)
options[:data] ||= {}
options[:data]["#{stimulus_controller}-target"] = 'shadowField'

# From the Rails documentation concerning `options`:
# Any standard HTML attributes for the tag can be passed in, for example :class
# https://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-check_box
ActiveSupport::Deprecation.warn(
  "The `html_options` attribute for checkboxes and radio buttons will be removed in a later version " \
  "Pass all of your html options like `class` to `options` instead."
)
options.merge!(html_options)

ActiveSupport::Deprecation.warn(
  "The `multiple` attribute will be removed in a later version. " \
  "Please pass `options: {multiple: true}` to `render` instead."
)
multiple ||= false
options[:multiple] ||= multiple
%>

<% content = render 'shared/fields/field', form: form, method: method, options: options, other_options: other_options do %>
  <% content_for :field do %>
    <div>
      <% button_field_options.each do |value, label| %>
        <% options[:checked] = form.object.send(method).is_a?(Array) ? form.object.send(method).map(&:to_s).include?(value.to_s) : form.object.send(method).to_s == value.to_s  %>
        <label class="btn-toggle" data-controller="<%= stimulus_controller %>">
          <% if options[:multiple] %>
            <%= form.check_box method, options, value, "" %>
          <% else %>
            <%= form.radio_button method, value, options %>
          <% end %>
          <button type="button" class="button-alternative mb-1.5 mr-1" data-action="<%= stimulus_controller %>#clickShadowField">
            <%= label %>
          </button>
        </label>
      <% end %>
    </div>
  <% end %>
<% end %>

<%# The `-mb-1.5` is making up for the `mb-1.5` on each of the buttons. This allows them to wrap with appropriate vertical spacing. %>
<div class="-mb-1.5"><%= content %></div>
