<%= render 'account/shared/page' do |page| %>
  <% page.title t('.section') %>
  <% page.body do %>
    <%= form_for [:account, @user] do |form| %>
      <%= render 'account/shared/forms/errors', form: form %>
    <% end if @user.errors.any? %>

    <div class="grid grid-cols-1 gap-y gap-x-8 lg:grid-cols-2">
      <div class="xl:col-span-1 space-y-8">
        <%= render 'account/shared/box', divider: true do |box| %>
          <% box.t title: '.profile.header', description: '.profile.description' %>
          <% box.body.render "account/users/form", user: @user %>
        <% end %>

        <% if two_factor_authentication_enabled? %>
          <div id="two-factor">
            <%= render partial: "devise/registrations/two_factor" %>
          </div>
        <% end %>
      </div>

      <div class="xl:col-span-1 space-y-8">
        <%= render 'account/users/oauth' %>

        <%= render 'account/shared/box', divider: true do |box| %>
          <% box.title t('.email_and_password.header') %>
          <% box.description t('.email_and_password.description') %>
          <% box.body do %>
            <% within_fields_namespace(:update_self) do %>
              <%= form_for [:account, @user], html: {id: dom_id(@user, :password), class: 'form'} do |form| %>
                <% with_field_settings form: form do %>
                  <%= render 'shared/fields/email_field', method: :email, options: {autofocus: true} %>

                  <hr>

                  <p><%= t('.email_and_password.new_password') %></p>

                  <div class="grid grid-cols-1 gap-y gap-x sm:grid-cols-2">
                    <div class="sm:col-span-1">
                      <%= render 'shared/fields/password_field', method: :password, options: {show_strength_indicator: true}, other_options: { required: false } %>
                    </div>
                    <div class="sm:col-span-1">
                      <%= render 'shared/fields/password_field', method: :password_confirmation, other_options: { required: false, label: t('.email_and_password.confirm_new_password') } %>
                    </div>
                  </div>

                  <hr>

                  <p><%= t('.email_and_password.current_password') %></p>
                  <%= render 'shared/fields/password_field', method: :current_password, other_options: { required: true } %>
                <% end %>

                <div class="buttons">
                  <%= form.submit t('.buttons.update_email_and_password'), class: "button" %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
