<% divider ||= nil %>
<% no_background ||= false %>
<% title_size ||= nil %>
<% title_padding ||= nil %>
<% border_top ||= false %>
<% body = partial.body.presence || partial.raw_body.presence %>
<% pagy ||= nil %>

<div class="<%= "bg-white rounded-md shadow dark:bg-slate-700 dark:bg-opacity-50" unless no_background %> overflow-hidden <%= border_top ? "border-t dark:border-slate-500" : "" %>">
  <div class="py-6 px-8 <%= title_padding %> space-y-2 <%= 'border-b shadow-sm dark:border-slate-600' if divider %>">
    <% if partial.title? %>
      <h2 class="text-xl font-semibold dark:text-white <%= title_size %>">
        <%= partial.title %>
      </h2>
    <% end %>

    <% if partial.description? %>
      <p class="text-slate-400 font-light leading-normal">
        <%= partial.description %>
      </p>
    <% end %>
  </div>

  <div class="space-y-4">
    <% if partial.table? %>
      <div class="box-table <%= divider ? 'mt-4' : '-mt-1' %> pb-0.5">
        <%= partial.table %>
      </div>
    <% end %>

    <% if body %>
      <div class="<%= "pt-7 px-8 space-y-7 #{partial.actions? ? 'pb-3' : 'pb-7'}" unless partial.raw_body? %>">
        <div class="space-y-4 <%= '-mt-4' unless divider %>">
          <%= body %>
        </div>
      </div>
    <% end %>

    <% if partial.actions? || pagy %>
      <div class="pb-7 px-8 space-y-7">
        <div class="sm:flex">
          <div class="flex-1 space-x">
            <%= partial.actions %>
          </div>
          <% if pagy && pagy.pages > 1 %>
            <div class="flex-0 mt-3 sm:mt-0">
              <%== pagy_nav(pagy) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if partial.footer? %>
    <div class="py-4 px-8 bg-slate-50 border-t dark:bg-slate-900 dark:border-slate-600">
      <%= partial.footer %>
    </div>
  <% end %>

  <% if partial.raw_footer? %>
    <div class="bg-slate-50 dark:bg-slate-900">
      <%= partial.raw_footer %>
    </div>
  <% end %>
</div>
