<% absolutely_abstract_creative_concept = @absolutely_abstract_creative_concept || @creative_concept %>
<% context ||= absolutely_abstract_creative_concept %>
<% collection ||= :completely_concrete_tangible_things %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: tangible_thing do %>
  <tr data-id="<%= tangible_thing.id %>">
    <%= render "shared/tables/checkbox", object: tangible_thing %>
    <%# 🚅 skip this section when scaffolding. %>
    <td><%= render 'shared/attributes/text', attribute: :text_field_value, url: [:account, tangible_thing] %></td>
    <td><%= render 'shared/attributes/boolean', attribute: :boolean_button_value %></td>
    <td><%= render 'shared/attributes/option', attribute: :button_value %></td>
    <td><%= render 'shared/attributes/options', attribute: :multiple_button_values %></td>
    <%# 🚅 stop any skipping we're doing now. %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, tangible_thing %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, tangible_thing], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, tangible_thing %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, tangible_thing], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(tangible_thing)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
