<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.video? %>
    <video controls width="<%= local_assigns[:in_gallery] ? 800 : 1024 %>" preload="metadata" class="max-w-full h-auto rounded-md"
      poster="<%= url_for(blob.representation(resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ])) %>"
    >
      <source src="<%= rails_blob_url(blob) %>" type="<%= blob.content_type %>">
    </video>
  <% elsif blob.representable? %>
    <%
      # loader_options are passed through to lib-vips: https://www.libvips.org/API/current/ctor.Image.gifload.html
      # By default the loader uses page = 1, and n = 1 to pick just the first "page" (aka frame) of a GIF.
      # We pass -1 for n to indicate that it should pull all the frames and give us a scaled verison of the whole GIF.
      loader_options = {}
      if blob.filename.extension.casecmp("gif")
        loader_options[:n] = -1
      end
    %>
    <%= image_tag blob.representation(loader: loader_options, resize_to_limit: local_assigns[:in_gallery] ? [ 800, 600 ] : [ 1024, 768 ]) %>
  <% end %>

  <figcaption class="attachment__caption">
    <% if caption = blob.try(:caption) %>
      <%= caption %>
    <% else %>
      <span class="attachment__name"><%= blob.filename %></span>
      <span class="attachment__size"><%= number_to_human_size blob.byte_size %></span>
    <% end %>
  </figcaption>
</figure>
